<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tetris</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico">
    <script src="static/jQuery.js"></script>
  </head>
  <body>
    <div class="greeting">
      {% if wrongLogin != '' %}
        {{wrongLogin}}<br>
      {% endif %}

      {% if user.is_authenticated %}
        Hello, {{ user.get_username }}. <span id="exitAcc">Exit</span> your account.
      {% else %}
        Hi, an unknown player. <span id="sign_in">Sign in</span> or <span id="sign_up">sign up.</span>
      {% endif %}
    </div>
    <div class="sign_in">
      <form action="/signIn/" method="post">
        {% csrf_token %}
        <h1>Sign in</h1>
        <label for="login_field">Login</label>
        <input type="text" name="login" id="login_field"><br><br>
        <label for="password_field">Password</label>
        <input type="password" name="password" id="password_field"><br><br>
        <input type="submit" value="Enter">
        <input type="button" value="Close" id="closeButton">
      </form>
    </div>
    <div class="sign_up">
      <form action="/" method="post">
        {% csrf_token %}
        <h1>Sign up</h1>
        <label for="login_field2">Login</label>
        <input type="text" name="login" id="login_field2"><br><br>
        <label for="password_field2">Password</label>
        <input type="password" name="password" id="password_field2"><br><br>
        <input type="submit" value="Enter">
        <input type="button" value="Close" id="closeButton2">
      </form>
    </div>
    <div class="title"><b>TETRIS</b></div>
    <div class="main">
      <div class="youScore">
        <h2>Your 10 last games.</h2>
        <hr size='3px' color='#894240' width='180px'>
      </div>
      <div class="bestScore">
        <h2>Best players.</h2>
        <hr size='3px' color='#894240' width='180px'>
      </div>
      <div class="tetris">
        <div class="score">SCORE: 0</div>
        <canvas id="tetrisField" width="200" height="400"></canvas>
        <div class="message">For start game press "Space".</div>
        <div class="text">Next Shape</div>
        <canvas id="nextShape" width="80" height="80"></canvas>
      </div>
      <div class="comments">
        <h2>Comments.</h2>
        <hr size='3px' color='#894240' width='390px'>
        <div class="viewComments"></div>
        <div class="addComment" style="
        {% if user.is_authenticated %}
          display: block;
        {% else %}
          display: none;
        {% endif %}">
          <hr size='3px' color='#894240' width='390px'>
          <textarea name="textComment" id="textComment" rows="3" cols="44"></textarea>
          <button id="sendComment">Send.</button>
        </div>
      </div>
    </div>
    <script src="static/script.js"></script>
    <script src="static/script_serv.js"></script>
  </body>
</html>
